html{
    height:100%;
}
body{
    height:100%;
   background:white;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.storage h2{
    font-family:'Courier New', Courier, monospace;
    padding:20px;
    position:relative;
    left:50%;
    transform:translate(-50%);
    text-align: center;
    font-size:30px;
    font-weight: bold;
    color:rgba(0,0,0,.8);
}
.contact{
 font-weight:bold;
 position: absolute;
 left:75%;
 bottom:-10%;
 
}
.contact a{
    font-weight:bold;
    color: rgb(27, 116, 228);
    -webkit-text-stroke:0.5px black;
}